# .gitignore
.env
__pycache__/
*.pyc
venv/
env/
.env.*
*.log
*.tmp
*.html
.DS_Store
*.sqlite3
instance/
.pytest_cache/
.coverage
htmlcov/
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.idea/
.vscode/
*.swp
*.swo
*~